[submodule "ThirdParty/Nuklear"]
	path = ThirdParty/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "ThirdParty/SDL3"]
	path = ThirdParty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/JoltPhysics"]
	path = ThirdParty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
